<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
    <title>@ViewBag.Title</title>
    <!-- [Meta] -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- [Favicon] icon -->
    <link rel="icon" href="~/images/favicon.svg"  type="image/x-icon">
    <!-- [Google Font] Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link"> 
    <!-- [Tabler Icons] https://tablericons.com -->
    <link href="~/fonts/tabler-icons.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- [Feather Icons] https://feathericons.com -->
    <link href="~/fonts/feather.css" rel="stylesheet" asp-append-version="true" />
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link href="~/fonts/fontawesome.css" rel="stylesheet" asp-append-version="true" />
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link href="~/fonts/material.css" rel="stylesheet" asp-append-version="true" />
    <!-- [Template CSS Files] -->
    <link href="~/css/style.css" rel="stylesheet" id="main-style-link" asp-append-version="true" />
    <link href="~/css/style-preset.css" rel="stylesheet" asp-append-version="true" />
 
</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <div>
        @RenderBody()
    </div>

    <!-- Required Js -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/plugins/popper.min.js"></script>
    <script src="~/js/plugins/simplebar.min.js"></script>
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <script src="~/js/fonts/custom-font.js"></script>
    <script src="~/js/pcoded.js"></script>
    <script src="~/js/plugins/feather.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
