@using TaskManager.Models.ViewModels;
@model ReSetPasswordViewModel;

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_AccountLayout";
}


<div class="auth-main">
    <div class="auth-wrapper v3">
        <form class="auth-form" asp-action="ReSetPassword" method="post">
            @Html.AntiForgeryToken()
            <div class="auth-header">
                <a href="#"><img src="~/images/Untitled.svg" alt="img"></a>
            </div>
            <div class="card my-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-end mb-4">
                        <h4 class="mb-0"><b>Reset Password</b></h4>
                    </div>
                    <p class="text-muted">Please choose your new password</p>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input asp-for="NewPassword" class="form-control" placeholder="Password" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ConfirmNewPassword" class="form-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Password" />
                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                    <div class="d-grid mt-3">
                        <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Reset Password</a>
                    </div>
                </div>
            </div>
            <div class="auth-footer row">
                <!-- <div class=""> -->
                <div class="col my-1">
                    <p class="m-0">Copyright © <a href="#">Codedthemes</a></p>
                </div>
                <!-- </div> -->
            </div>
        </form>
    </div>
</div>


@* <div class="accoount-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Reset Password</h2>
        <form asp-action="ReSetPassword" method="post">
            @Html.AntiForgeryToken()
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Token" />
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-success p-2 w-100" />
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="ForgotPassword" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}