@using TaskManager.Models.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify Email";
    Layout = "_AccountLayout";
}

<div class="accoount-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Verify Email</h2>
        <form asp-action="VerifyEmail" method="post">
            @Html.AntiForgeryToken()
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <input type="submit" value="Verify" class="btn btn-success p-2 w-100" />          
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}